/examples_xc8/helloworld_tx.X/dist/
/examples_xc8/helloworld_rx.X/dist/
/examples_xc8/helloworld_tx.X/debug/
/examples_xc8/helloworld_rx.X/debug/
/examples_xc8/helloworld_tx.X/build/
/examples_xc8/helloworld_rx.X/build/
